# Lombok configuration for Java 24 compatibility
lombok.addLombokGeneratedAnnotation = true
lombok.addSuppressWarnings = true
lombok.disable.unsafe = true
lombok.anyConstructor.addConstructorProperties = false
lombok.anyConstructor.includeAnnotationFields = false
lombok.anyConstructor.suppressConstructorProperties = false
lombok.anyConstructor.flagUsage = ALLOW
lombok.builder.flagUsage = ALLOW
lombok.cleanup.flagUsage = ALLOW
lombok.data.flagUsage = ALLOW
lombok.delegate.flagUsage = ALLOW
lombok.equalsAndHashCode.flagUsage = ALLOW
lombok.experimental.flagUsage = ALLOW
lombok.fieldDefaults.flagUsage = ALLOW
lombok.getter.flagUsage = ALLOW
lombok.getter.lazy.flagUsage = ALLOW
lombok.log.flagUsage = ALLOW
lombok.noArgsConstructor.flagUsage = ALLOW
lombok.requiredArgsConstructor.flagUsage = ALLOW
lombok.allArgsConstructor.flagUsage = ALLOW
lombok.setter.flagUsage = ALLOW
lombok.toString.flagUsage = ALLOW
lombok.val.flagUsage = ALLOW
lombok.var.flagUsage = ALLOW
lombok.wither.flagUsage = ALLOW
